EventDrivenWorkshop/BE/obj/
EventDrivenWorkshop/BFF/bin/
EventDrivenWorkshop/BFF/obj/
EventDrivenWorkshop/PulseIntegrationService/obj/
EventDrivenWorkshop/PulseIntegrationService/bin/
EventDrivenWorkshop/BE/bin/
