@page "/counter"

<h1>OLD CHECKOUT!</h1>

<button class="btn btn-primary" @onclick="OnClickedButtonCheckout">CHECKOUT</button>
<br>
<br>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<p>Current count: @currentCount</p>

<h1>@orderStatus</h1>

@code {
    private int currentCount = 0;
    private string orderStatus = "";

    private bool isWaitingResponse = false;

    private void IncrementCount()
    {
        if(!isWaitingResponse)
            currentCount++;
    }

    private async Task OnClickedButtonCheckout()
    {
        isWaitingResponse = true;
        using HttpClient client = new HttpClient();
        await client.GetAsync("http://bff/api/checkout");
        orderStatus = "Order completed!";
        isWaitingResponse = false;

    }
}
